.App {
  text-align: center;
}


 .top{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 .mid{
margin: 2%;
}
.adc{
  font-size: xx-large;
  font-style: italic;
  color: crimson;
}